@use "mixin"as *;

// *********************************
// コメントはpencil variebles に同期しない
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Shippori+Mincho:wght@400;500;600;700&family=Viaoda+Libre&display=swap');

:root {//font
        --Ser: "Noto Serif JP", serif;

           // "Noto Sans JP",
           // "メイリオ", Meiryo,
        --San:
                -apple-system,
                /* iOS/macOS */
                BlinkMacSystemFont,
                /* macOS Safari/Chrome */
                "Hiragino Sans", "Hiragino Kaku Gothic ProN",
                /* macOS日本語 */
                "Yu Gothic Medium", "Yu Gothic", "Meiryo",
                /* Windows */
                "Roboto", "Noto Sans CJK JP",
                /* Android */
                sans-serif;
        --Ship: "Shippori Mincho","Noto Serif JP", serif;
        --Zen: "Zen Kaku Gothic New",var(--San), sans-serif;
        --Jost: "Jost",var(--San), sans-serif;
        --Via: "Viaoda Libre",var(--San), sans-serif;
        --FF: var(--San) ,sans-serif;
        --Eng: var(--Jost);
}

:root {//color
        --UN: unset;
        --IN: inherit;
        --CC: currentColor;

        --TR: transparent; 
        --MC: oklch(0.1 0.1 75); 
        --SC: oklch(0.50 0.125 265); 
        --AC: oklch(0.8 0.1 75); 
        --BC: oklch(99% 0.005 60); 

        --TC: oklch(20% 0.00 270); 
        --GR: oklch(75% 0.00 270); 
        --BK: oklch(0% 0.00 60);
        --WH: oklch(100% 0.00 60);
}

:root {//standard color name, do not use tertiary, quaternary,quinary 
        --second: var(--SC);
        --third: oklch(0.92 0.1 169.85);
        --fourth: oklch(0.97 0.2 109.29);
        // --fifth: var(--SC);

        --primary: var(--MC);
        --secondary: var(--SC);
        --accent: var(--AC);
        --background: var(--BC);
        --foreground: var(--TC);
        --surface: var(--TC);
        --muted: var(--GR);
        --neutral: var(--GR);
        --border: var(--TC);

        // --destructive: var(--AC);
        // --ring: var(--TC);
        // --card: var(--wc);
        // --popover: var(--BC);
        // --surface: var(--BC);//（カード・シートの背景）
        // --error: var(--AC);
        // --success: var(--MC);
        // --warning: var(--AC);
        // --error: var(--AC);
        // --info: var(--SC);//（ステータス系）
        // --neutral: var(--GR);//（グレー系）
}
.dark {
	--background: var(--TC);
	--foreground: var(--WH);
	// --border: #fff;
        // --BK: #fff;
        // --TC: #fff;
        // --WH: #fff;
}

:root {// color opacity
        --MC05: color-mix(in srgb, transparent, var(--MC) 05%);

        @for $i from 1 through 9 {
                --MC#{$i}0: color-mix(in srgb, transparent, var(--MC) #{$i}0%);
                --SC#{$i}0: color-mix(in srgb, transparent, var(--SC) #{$i}0%);
                --AC#{$i}0: color-mix(in srgb, transparent, var(--AC) #{$i}0%);
                --BC#{$i}0: color-mix(in srgb, transparent, var(--BC) #{$i}0%);
                --TC#{$i}0: color-mix(in srgb, transparent, var(--TC) #{$i}0%);
                --GR#{$i}0: color-mix(in srgb, transparent, var(--GR) #{$i}0%);
                --WH#{$i}0: color-mix(in srgb, transparent, var(--WH) #{$i}0%);
                --BK#{$i}0: color-mix(in srgb, transparent, var(--BK) #{$i}0%);
        }
}

:root {
        --LS: 0.05em;
        --LH: 2;
        --FW: 300;
        --FZ: 87.5%;
        @media (min-width: 768px){
                --FZ: 100%;
        }

        --HFF: var(--Eng);
        --HFW: 500;
        --HLH: 1.25;
        --HLS: 0.00em;

        --h1FZ: clamp(32px, 5vw, 64px);
        --h2FZ: clamp(24px, 3.2vw, 40px);
        --h3FZ: clamp(18px, 2vw, 24px);
        --largeFZ: clamp(48px, 6.4vw, 96px);
}


:root{
        --rad:4px;
        @media (min-width: 768px){
                --rad:4px;
        }
        --rad2:calc(var(--rad)*2 );
        --radH:calc(var(--rad)/2 );
        --sheetR:var(--rad);
        --sheetBG:var(--BC);
        --sheetP:var(--gap);
        --boardR:var(--rad);
        --lineClamp:2;
}
:root{
        interpolate-size: allow-keywords;
}

:root{//ボーダー シャドウ デコレーション等

        --lineClamp:2;
        --bds: solid;
        --bdw: 1px;
        --bdc: var(--TC30);  
        --line:var(--bdw) var(--bds) var(--bdc); 
        --tsw: 4px;
        --tsc: var(--MC);
        --TS: 0 0 0.25em var(--BK90);
        --DS: drop-shadow(0 0 0.25em var(--BK70));
        --BS: 0.25rem 0.25rem 0rem var(--BK10);
        --WTS: var(--tsw) var(--tsc);
        --BGgrad: linear-gradient(90deg, var(--BK), transparent 80%) no-repeat center/100% 100%;
}
:root {//space 余白設定
        --MY: 4rem;
        --PX2: calc(var(--PX) * 2);
        --gap: 1rem;
        --PX: 1.5rem;
        --PY: 1.5rem;
        --gapN: calc(var(--gap)*-1);
        --gapH: calc(var(--gap)/2);
        @media (min-width: 1024px){
                --gap: 1.5rem;
        }
        @media (min-width: 768px){
                --MY: 6rem;
        }
}
:root {//サイズ
        --imgW: calc(50% - var(--gap)/2);
        --wid: 1260px;
        --MY: 120px;
        --MY25: calc(var(--MY)/4);
        --MY5: calc(var(--MY)/2);
        --MY75: calc(var(--MY)/4*3);
        --15MY: calc(var(--MY)*1.5);
        --2MY: calc(var(--MY)*2.0);
        --25MY: calc(var(--MY)*2.5);
        --3MY: calc(var(--MY)*3.0);
        --4MY: calc(var(--MY)*4.0);
}

// ！！！！！以降TWonlyには未定義！！！！！！！！！！！！！！！！

:root {//intoパディングで子要素サイズ、レフトで位置指定 out基本幅→画面幅に

        --into: calc(50vw - clamp(0px, 50vw - var(--PX), (var(--wid) / 2)));
        --in1800: calc(50vw - clamp(0px, 50vw - var(--PX), 900px));
        --in1728: calc(50vw - clamp(0px, 50vw - var(--PX), 864px));
        --in1680: calc(50vw - clamp(0px, 50vw - var(--PX), 840px));
        --in1560: calc(50vw - clamp(0px, 50vw - var(--PX), 780px));
        --in1536: calc(50vw - clamp(0px, 50vw - var(--PX), 768px));
        --in1440: calc(50vw - clamp(0px, 50vw - var(--PX), 720px));
        --in1320: calc(50vw - clamp(0px, 50vw - var(--PX), 660px));
        --in1200: calc(50vw - clamp(0px, 50vw - var(--PX), 600px));
        --in1080: calc(50vw - clamp(0px, 50vw - var(--PX), 540px));
        --in1000: calc(50vw - clamp(0px, 50vw - var(--PX), 500px));
        --in960: calc(50vw - clamp(0px, 50vw - var(--PX), 480px));
        --in840: calc(50vw - clamp(0px, 50vw - var(--PX), 420px));
        --in720: calc(50vw - clamp(0px, 50vw - var(--PX), 360px));
        --in660: calc(50vw - clamp(0px, 50vw - var(--PX), 330px));
        --out: calc(50% - 50vw);
}
:root{//header props

        --transH: 100px;
        --trans: 400ms;
        --tw-duration: var(--trans);
        --default-transition-timing-function: var(--trans);

        --PTdis: block;
        --PTAF: var(--btnAF);
        // --PTFZ: 1.5em;
        --PTscale: 1.5;
        --PTC: var(--IN);
        --PTBG: var(--UN);
        --PTRad: var(--btnRad);
        --PTW: calc(2.5rem);
        --PTbottom: var(--gapH);
        --PTrightTAB: 0.5em;
        --PTbottomTAB: 0.5em;
        --PTborder: var(--UN);
        @media (max-width: 480px){
            --PTrightTAB: 0.25em;
            --PTbottomTAB: 0.25em;
        }
    
        --headG:1.5em;
        @media (max-width: 1560px){--headG: .75em;}
        @media (max-width: 1200px){--headG: 0.5em;}
        // --innerPX: calc(var(--headG)*1 );
        --innerPX: calc(var(--into)*1 );
        --navPX: calc(var(--headG)*0 );
        --itemPX: calc(var(--headG)*0 ); 
        --logoPX: calc(var(--headG)*0 ); 
        --itemG: calc(var(--headG)*1.5 );
        --innerG: calc(var(--headG)*0 );
    
        --logoW:200px;//予備(common_header入力)
        --logoFZ:32px;//予備(common_header入力)
        --logoH:calc(var(--head) - .5em );
    
        --head:4.5rem;
        
        // --initHead:calc(var(--head) + 20px );
        --head15:calc(var(--head)*1.5 );
        --head2:calc(var(--head)*2 );
        --Nhead:calc(var(--head)*-1 );
        --contMT:calc(var(--head)*1);
        
        --mvMT:calc(var(--head) * 1 );
        // @media (max-width: 834px){
        //     --mvMT:calc(var(--head) * 1 );
        // }
        --mvImg:calc(100lvh - var(--head) ); 
        @media (max-width: 834px){
            --mvImg:calc(100lvh - var(--head)*2 ); 
        }
        // @include menu{--mvImg:calc(50lvh);}
        --navFZ: 1em; //pcnavFZ
        --navLH: 1.5em;
        --navC: inherit; 
        --navFW: inherit;
        --dropBG: var(--BC);
        --dropC: var(--TC);
        --SPnavBG: var(--WH); //spnav
        --SPnavBG: var(--innerBG);//spnav 
        --SPnavFZ: 1em;
        --dropbtnBG: var(--UN);
        --dropbtnBF: var(--CC);

        --bargap: calc(var(--btnH) * .25);
        --menuC: var(--BK);
        --spanH: 2px;
        --spanR: 000px;
        --deg: 150deg;
        --menuRad: 0px;


        --spanW: 67.5%;
        --menuM: var(--headG) 0;

        --menuH: var(--btnH);
    
    
    
        
        @media (max-width : 1560px){
            // --head:120px; 
        }
        @include menu{ 
            --head:3.5rem; 
        }
        @media (max-width : 834px){
            // --head:72px; 
        //     --head:60px; 
        }
        @media (max-width : 640px){
        }
      
    }

:root{// IntersectionObserver addClass'show'
        --dur:0.8s;
        --dur2:1.2s;
        --trt:
        background 5s,
        translate var(--dur),
        opacity var(--dur) ,
        clip-path var(--dur) ,
        filter var(--dur) ,
        scale var(--dur) ,
        rotate var(--dur) ;
        --jsBlur:0px; 
        --transX: 6vmin;
        --transY: 6vmin;
}
:root{//ボタンプロパティ
        --TLC :var(--IN);
        --TLFZ:1.25rem;
        --TLFF:var(--Eng);
        --TLFW:500;
        --TLFS:normal;
        --TLLS:inherit;
        --TLLH:1;
        --TLDeco:none;
        --TLOff:.25em;
        --TLG :.25em;
        // --btnHover:brightness(1.2) saturate(1.2);
        --btnBG:var(--MC);
        --btnC:var(--WH);
        --hoverBG: var(--MC);
        --hoverC: var(--AC);
        --hoverFL: invert(0%) brightness(100%) saturate(100%);
        --btnFZ:1rem;
        --btnFF:var(--Eng);
        --btnLH:1.125;
        --btnFW: 700; 
        --btnLS:0.025em; 
        --btnW:300px;
        --btnW48:100%;
        // @media (max-width : 480px){
        //     --btnW:100%;
        // }
        --btnH:3.25rem;
        // @media (max-width : 640px){
        //     --btnH:56px;
        // }
        
        --btnPX:1.25em ;
        --btnPY: 0.25em;
        --btnG:.5em;
        --btnTR:.6s ; 
        --btnTRT: ease-out; 
        // --btnTR:var(--trt);
        // --btnRad:var(--rad);
        --btnRad:4px;
        // --btnSh: var(--bxshbtn);
    
        
        // --btnImg:calc(var(--btnH)*.66 );
        --btnIC:var(--IN);
        --btnIFF:var(--icon);
        --btnIMX: 0 0.25em ;
        --btnAC:center; 
        --btnTA:center; 
        // → content: "\f061";  e06c ▶\25B6
        // >  content:"\f105"; "\f054";    "\e13a";  circle f35a; f138 &#xf0a9;
        // hand-pointer f25a //long→&#xf30b;circleright f0a9;caret\f0da 
        // <i class="las la-mars"></i>
        --btnAF: "\f105";
        --btnIFZ:calc(var(--btnFZ)*1);
        --btnImg:2.25em;
        --btnIdis: inline-block;
        --btnIMX: 0.5em 0;
        --btnIFC: var(--IN);
        // --btnIFZ: 1.5em;
        // @media (max-width : 640px){
        --btnIFW: 900;
        --btnIPOS: static;
        // --btnIRT: 1.25em;
        --btnIRT: 0.25em;
        --btnIVA: bottom;
}

