@use "mixin"as *;

button,
a {
        transition: var(--btnTR);
        font-size: inherit;

        &:where(:not([class], .h a, [href*=tel], .__tel)):hover {
                opacity: .7;
        }

        &:hover,
        &:hover * {
                transition-delay: 0s !important;
        }

        &:is(.itext, .sns_slide ul a) {
                max-width: 100%;

                &:hover {
                        opacity: .7;
                }
        }

        &:is(.HeaderLogo a, .f_logolink, .itext, .sns_slide ul a) {
                &:hover {
                        opacity: .7;
                }
        }

        &:is(.sns_slide a, .__layer .box a) {
                overflow: hidden;

                figure {
                        overflow: hidden;
                }

                // img{transition: .4s;will-change: scale;}
                &:hover {
                        scale: 1.02;
                        opacity: 1;
                }
        }

        &:not([class*=_logo], [class*=slick] button) {
                // border-radius: 4px;
                outline-style: var(--decoS);
                outline-color: var(--MC10);
                outline-width: 0px;

                &:focus {
                        outline-width: 1px;
                }
        }
}

.submit:is(#contents *) {
        margin-top: 40px;
}

.submit {
        width: fit-content;
        margin-inline: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1em;
}

.submit>button {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-block: 1em;
        background-size: cover;
        transition: .4s;
}


.btn {
        //基本スタイル
        position: relative;
        z-index: 1;
        text-decoration: none;
        display: inline-block;
        justify-content: var(--btnJC);
        flex-direction: var(--btnDir);
        font-size: var(--btnFZ);
        font-weight: var(--btnFW);
        font-family: var(--btnFF);
        line-height: var(--btnLH);
        letter-spacing: var(--btnLS);
        min-width: var(--btnW);

        @media (max-width: 480px) {
                min-width: var(--btnW48);
        }

        min-height: var(--btnH);
        padding-inline:var(--btnPX);
        padding-block:var(--btnPY);
        gap: var(--btnG);
        border-radius: var(--btnRad);
        box-shadow: var(--btnSh);
        max-width: 100%;
        align-content: var(--btnAC);
        text-align: var(--btnTA);
        will-change: filter;
        overflow: hidden;
        transition-duration: var(--btnTR);
        transition-timing-function: var(--btnTRT);
        color: var(--btnC);


        // background: url(images/home/btn.png) no-repeat 100% 100%;
        background-color: var(--btnBG);


        // padding-inline: 1em 2.5em;
        // box-shadow: inset 0 0 6px var(--bk30);
        border: var(--line);
        border-color: var(--CC);

}

.btn:not(.f *) {
        //フォント特有高さ調整 
        padding-block: 0.25em 0.1em;
}

.btnL {
        @extend .btn;
}

// .btn2{
//     @extend .btn;
// }
.btn2 {
        position: relative;
        background-color: transparent;
        color: inherit;
        font-size: var(--bodyFZ);
        min-width: 180px;

        @media (max-width: 1440px) {
                min-width: unset;
        }

        min-height: 56px;
        padding-inline: 1.5em;
        border-radius: 0em;
        text-align: center;
        align-content: center;
        font-family: var(--Eng);

        &:before {
                content: '';
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                width: calc(100% - 0.5em);
                height: calc(100% - 0.5em);
                border: var(--line);
                border-color: var(--CC);
        }

        &:after {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                width: calc(100% - 0.5em);
                height: calc(100% - 0.5em);
                border: var(--line);
                border-color: var(--CC);
        }
}

:where(.btn) {

        //追加クラス・スタイル
        svg,
        i {
                font-size: var(--btnIFZ);
        }

        &:has(>i, >svg) {
                &:after {
                        display: none;
                }

                svg,
                i {
                        color: var(--btnIC);
                        font-family: var(--btnIFF);
                        font-size: var(--btnIFZ);
                        font-weight: var(--btnIFW);
                        // display: var(--btnAFdis);
                        // position: var(--btnAFPOS); 
                        // right: var(--btnAFRT);
                        line-height: var(--btnFZ);
                        margin-inline: var(--btnIMX);
                        transition: .4s;
                        vertical-align: var(--btnIVA);
                }
        }

        &.btn:not([href*=tel], .__tel, span):hover {
                background-color: var(--hoverBG);
                color: var(--hoverC);
                filter: var(--hoverFL);
        }

        //     &:after{ 
        //         content: var(--btnAF);
        //         color: var(--btnAFC);
        //         font-family: var(--btnIFF);
        //         font-size: var(--btnAFFZ);
        //         font-weight: var(--btnAFFW);
        //         display: var(--btnAFdis);
        //         place-items: center;
        //         position: var(--btnAFPOS); 
        //         right: var(--btnAFRT);
        //         place-items: center;
        //         line-height: var(--btnFZ);
        //         margin-inline: var(--btnAFMX); 
        //         transition: .4s;
        //         top: 50%;
        //         transform: translateY(-50%);

        //         display: none;

        //         &:is([target='_blank']:after){
        //             content: "\f35d";
        //         }
        //     }

        &.__anchor:after {
                rotate: 90deg;
                top: unset;
                transform: unset;
        }

        img {
                width: var(--btnImg);
                // height: var(--btnImg)!important;
                object-fit: contain;
                display: inline-block;
                vertical-align: middle;

        }

        &:has(img) {
                flex-direction: column;

                img {
                        width: var(--btnImg);
                        margin-inline: auto;
                        display: block;
                }
        }

        // &:has(i,>span):after{display: none;}

        &.noArrow:after {
                display: none;
        }

        &.arrowRev:after {
                rotate: 180deg;
        }

        &[href*="#contents"]:after {
                rotate: -90deg;
        }

        &.__tr {
                background: unset;
                color: var(--MC);
                border: 1px solid currentColor;
        }

}

.imgBtn {

        svg,
        i {
                font-size: var(--btnIFZ);
        }

        img {
                width: var(--btnImg);
                height: var(--btnImg) !important;
                object-fit: contain;
                display: inline-block;
                vertical-align: middle;
        }
}

a.label {
        width: fit-content;
        line-height: 1.5;
        margin: .05em;
        border: var(--line);
        border-radius: 100em;
        text-decoration: none;
        padding: 0.25em 0.75em;
}

.textlink {

        &.__anchor {
                &:after {
                        &:is([target='_blank']:after) {
                                content: "\f35d";
                        }
                }
        }

        &:after {
                content: var(--btnAF);
                --btnIdis: none;
        }

        &:has(>i, >svg):after {
                --btnIdis: none;
        }

        svg,
        i,
        &:after {
                color: var(--btnIC);
                font-family: var(--btnIFF);
                font-size: var(--btnIFZ);
                font-weight: var(--btnIFW);
                display: var(--btnIdis);
                place-items: center;
                position: var(--btnIPOS);
                right: var(--btnIRT);
                place-items: center;
                line-height: var(--btnFZ);
                margin-inline: var(--btnIMX);

                // 画像デザインに合わせた上書きスタイル
                align-content: center;
                transition: var(--btnTR);
                will-change: scale;

                &:is([target='_blank']:after) {
                        content: "\f35d";
                }
        }

        &:is(a, span) {
                text-decoration: var(--TLDeco) !important;
                color: var(--TLC);
        }

        line-height: 1.125;
        // line-height: var(--btnH);
        font-size: var(--TLFZ);
        font-family: var(--TLFF);
        font-weight: var(--TLFW);
        font-style: var(--TLFS);
        letter-spacing: var(--TLLS);
        line-height: var(--TLLH);
        text-underline-offset: var(--TLOff);
        gap:var(--TLG);
        position: relative;
        text-align: center;
        // padding-bottom: .5em;
        padding-inline: .25em;
        display: inline-block;
        border-bottom: 1px solid currentColor;
        // &.noBorder{border: unset; padding-inline: unset;}
        border: unset;
        padding-inline: unset;
        transition: var(--btnTR);
        will-change: scale;

        &:not([href*=tel], .__tel, span):hover {
                animation: scaleDown calc(var(--btnTR)*2) var(--btnTRT) forwards;
        }



        @keyframes scaleDown {
                10% {
                        scale: 1.1;
                }

                100% {
                        scale: 1;
                }
        }


        img:is(#contents *) {
                width: 1em !important;
                height: 1em !important;
                display: inline-block;
                vertical-align: top;
                margin-right: var(--TLG);
                object-fit: contain;
        }

        svg,
        i {
                &:before {
                        display: inline-block;
                        margin-right: var(--TLG);
                        vertical-align: bottom;
                }
        }

        small {
                font-size: 75%;
                color: inherit;
        }

        // &:not([href*=tel],.__tel,span):hover {
        //     // filter: var(--btnHover);
        //     // scale: 1 1.25;
        // }
        &:not([href*=tel], .__tel, span):hover:after {
                // filter: var(--btnHover);
                scale: 1.25;
        }
}

p:has(>a) {
        >br {
                display: none;
        }

        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        max-width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        gap:var(--gapH);
        align-items: center;
        width: 100%;

        .btn {
                @media (max-width: 540px) {}
        }

        .__anchor {
                max-width: calc(50% - var(--gap)/2) !important;

                @media (max-width : 640px) {
                        min-width: unset !important;
                        width: var(--btnW);
                        margin-block: 0px;
                }
        }
}


.veil {
        //コンテナを覆うリンク
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
}

%r-grow {
        background-image: linear-gradient(currentColor, currentColor);
        transition: var(--btnTR);
        background-repeat: no-repeat;
        background-position-y: 100%;
        background-position-x: -105%;
        background-size: 200% 1px;

        //     animation: rightgrow2 var(--btnTR) forwards;
        &:hover {
                animation: rightgrow var(--btnTR);
                background-position-x: 50%;
        }

        @keyframes rightgrow {
                0% {
                        background-position-x: 200%;
                }

                100% {
                        background-position-x: 50%;
                }
        }

        // @keyframes rightgrow2 {
        //     0% {
        //         background-position-x: 50%;
        //     }
        //     100% {
        //         background-position-x: -105%;
        //     }
        // }
}

// %b-grow{
//     background-image: linear-gradient(currentColor,currentColor);
//     transition: .4s ease;
//     background-repeat: no-repeat;
//     background-position-x: 100%;
//     background-position-y: -103%;
//     background-size: 100% 200%;
//     &:hover{
//         // background-position-y: 0%;
//         animation: b-grow var(--btnTR);
//     }
//     @keyframes b-grow {
//         0% {
//             background-position-y: 200%;
//         }
//         100% {
//             background-position-y: -00%;
//         }
//     }
// }

.f_link,
.pan1 a,
.HeaderNav a:not(:has(>span)),
.HeaderNav a:not(.HeaderCylinder *),
.banner a // ,a.textlink:not([href*=tel],.__tel,span,.__grad)
// ,.HeaderNav a:not(.drop a,.nopointer,:has(>span),:is(.logo *)) 
,
.nav a:not(.drop ul li a),
.f_nav ul a // ,.f_nav-column a
,
.blog_text h3 span,
.rss-title // ,div.items > article a.name

// ,.btn
// ,.policy-trigger
        {
        // ホバー下線
        @extend %r-grow;
        // @extend %b-grow;
        background-position-x: -105%;
        background-size: 200% var(--bdw);
        // color: var(--tx);
        background-image: linear-gradient(var(--CC), var(--CC));
        // background-image: linear-gradient(var(--AC),var(--AC));
        // animation: none!important;
        // animation-duration: .4s;
        // @media (max-width: 834px){
        // // @include menu{
        //     background-position-x: 0%;
        //     animation: rightgrow var(--btnTR);
        // }
}

.nav a:not(.drop ul li a) {
        //下線border類似
        background-image: linear-gradient(var(--dropbtnBF), var(--dropbtnBF));
        // @include menu{
        background-position-x: 0%;
        animation: rightgrow var(--btnTR);
        // }
}

.f_btn // ,.HeaderNav .drop ul li
// ,.drop ul li a
// ,.btn:not([href*=tel], .__tel, span, .__grad) 
// ,.H-layer .veil

// ,.btn
// ,.h_contact
// ,.Links .box
// ,.layer article a div 
// ,.card2 .box:has(a) 
        {
        //ホバーbgスライド
        @extend %r-grow;
        background-image: linear-gradient(to right, var(--WH), var(--WH));

        // background-image: linear-gradient( 30deg,var(--tr) 25%,var(--BK) 25.1%,var(--BK) 74.9%,var(--tr) 75%);
        // border-color: var(--btnBG);
        background-position-x: -103%;
        background-size: 300% 100%;

        // animation: rightgrow2 var(--btnTR) forwards;
        &:active {
                background-position-x: 0%;
        }

        &.__wh {
                background-image: linear-gradient(var(--MC), var(--MC));
        }
}