@charset "utf-8";

#contents .c501 ul li {
	list-style-type: none;
	text-align: left;
	float: left;
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c501 ul li { margin-right: px; }
#contents .c501 ul li:last-child { margin-right: 0; }
#contents .c501 > ul li:nth-of-type(1) img {
	width: 1920px;
}
#contents .c501 > ul li:nth-of-type(2) img {
	width: 1920px;
}#contents .c464 a.itext, #contents .c464 img, #contents .c464 video {
	width: 598px;
	height: 228px;
}#contents .c508 {
	background-image: url(../images/home/sika.png);
}#contents .c507 a.itext, #contents .c507 img, #contents .c507 video {
	width: 398px;
	height: 183px;
}
#contents .c507 h2,
#contents .c507 div {
	text-align: left;
}#contents .c502 {
	background-color: var(--wh70);
}
#contents .c502 h2,
#contents .c502 div {
	text-align: right;
}#contents .c475 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c475 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c475 > div:nth-of-type(1) img {
	width: 1000px;
}
#contents .c475 > div:nth-of-type(2) img {
	width: 600px;
}#contents .c477 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c477 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c477 > div:nth-of-type(1) img {
	width: 480px;
}
#contents .c477 > div:nth-of-type(2) img {
	width: 1000px;
}
#contents .c503 {
	background-color: var(--wh70);
}
#contents .c503 h2,
#contents .c503 div {
	text-align: left;
}#contents .c478 {
	background-image: url(../images/home/ine.png);
}#contents .c505 h2,
#contents .c505 div {
	text-align: left;
}#contents .c504 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c504 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c504 > div:nth-of-type(1) img {
	width: 600px;
}
#contents .c504 > div:nth-of-type(2) img {
	width: 1000px;
}#contents .c509 {
	background-color: var(--mc);
	background-image: url(../images/home/mugi.png);
}#contents .c510 h2,
#contents .c510 div {
	text-align: left;
}#contents .c511 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c511 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c511 > div:nth-of-type(1) img {
	width: 600px;
}
#contents .c511 > div:nth-of-type(2) img {
	width: 600px;
}#contents .c494 {
	width: 900px;
}#contents .c506 h2,
#contents .c506 div {
	text-align: center;
}
