@charset "utf-8";
#contents .c368 > div.box {
width: 45%;
margin: 0 30px 0 0;
}

#contents .c368 .box div {
font-size: 15px;
margin-top: 30px;
}

#contents .c381 article div {
background-color: #ffffff6e;
border-radius: 50px;
}

#contents .c381 article div .mgi-auto {
padding: 6%;
}

@media screen and (max-width:480px) {

#contents .c368 > div.box {
width: 100%;
margin: 30px 0;
}

}
#contents .c324 {
	background-color: #000;
}
#contents .c324 ul li {
	list-style-type: none;
	text-align: left;
	float: left;
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c324 ul li { margin-right: px; }
#contents .c324 ul li:last-child { margin-right: 0; }
#contents .c324 > ul li:nth-of-type(1) img {
	width: 1920px;
}

#contents .c322 h1,
#contents .c322 div {
	text-align: left;
}






#contents .c327 {
	background-image: url(../images/home/cook.jpg);
}

#contents .c329 h3,
#contents .c329 div {
	text-align: left;
}

#contents .c378 {
	background-color: #fff;
	margin: 0 0  ;
}

#contents .c381 h2,
#contents .c381 div {
	text-align: left;
}

#contents .c379 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c379 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c379 > div:nth-of-type(1) img {
	width: 600px;
}
#contents .c379 > div:nth-of-type(2) img {
	width: 600px;
}

#contents .c380 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c380 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c380 > div:nth-of-type(1) img {
	width: 600px;
}
#contents .c380 > div:nth-of-type(2) img {
	width: 600px;
}

#contents .c360 h2,
#contents .c360 div {
	text-align: left;
}
#contents .c377 {
	margin: 0 0 0 0;
}
#contents .c377 h3,
#contents .c377 div {
	text-align: left;
}
#contents .c372 {
	margin: 60px 0 0 0;
}
#contents .c372 h3,
#contents .c372 div {
	text-align: left;
}

#contents .c370 table td {
	padding: 10px;
}
#contents .c370_cell_1_1 {
	text-align: center;
	vertical-align: middle;
	background: #e3d6ce;
}
#contents .c370_cell_2_1 {
	text-align: center;
	vertical-align: middle;
	background: #ffffff;
}
#contents .c370_cell_1_2 {
	text-align: center;
	vertical-align: middle;
	background: #e3d6ce;
}
#contents .c370_cell_2_2 {
	text-align: center;
	vertical-align: middle;
}
#contents .c370_cell_1_3 {
	text-align: center;
	vertical-align: middle;
	background: #e3d6ce;
}
#contents .c370_cell_2_3 {
	text-align: center;
	vertical-align: middle;
}
#contents .c375 {
	margin: 0 0 0 0;
}
#contents .c375 h3,
#contents .c375 div {
	text-align: right;
}
#contents .c373 {
	margin: 80px 0 0 0;
}
#contents .c373 h3,
#contents .c373 div {
	text-align: left;
}

#contents .c374 table td {
	padding: 10px;
}
#contents .c374_cell_1_1 {
	text-align: center;
	vertical-align: middle;
	background: #e3d6ce;
}
#contents .c374_cell_2_1 {
	text-align: center;
	vertical-align: middle;
	background: #ffffff;
}
#contents .c374_cell_1_2 {
	text-align: center;
	vertical-align: middle;
	background: #e3d6ce;
}
#contents .c374_cell_2_2 {
	text-align: center;
	vertical-align: middle;
}
#contents .c374_cell_1_3 {
	text-align: center;
	vertical-align: middle;
	background: #e3d6ce;
}
#contents .c374_cell_2_3 {
	text-align: center;
	vertical-align: middle;
}
#contents .c374_cell_1_4 {
	text-align: center;
	vertical-align: middle;
	background: #e3d6ce;
}
#contents .c374_cell_2_4 {
	text-align: center;
	vertical-align: middle;
}

#contents .c349 h2,
#contents .c349 div {
	text-align: left;
}

#contents .c376 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c376 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c376 > div:nth-of-type(1) img {
	width: 1000px;
}
#contents .c376 > div:nth-of-type(2) img {
	width: 600px;
}
#contents .c376 > div:nth-of-type(3) img {
	width: 600px;
}
#contents .c376 > div:nth-of-type(4) img {
	width: 600px;
}
#contents .c376 > div:nth-of-type(5) img {
	width: 600px;
}
#contents .c376 > div:nth-of-type(6) img {
	width: 600px;
}
#contents .c357 {
	width: 960px;
	height: 330px;
}
#contents .c357 a.itext, #contents .c357 img, #contents .c357 video {
	width: 400px;
	height: 298px;
}
#contents .c357 h3,
#contents .c357 div {
	text-align: left;
}
@media screen and (min-width: 641px) and (max-width: 834px) {

#contents .c357 {
	width: auto;
	max-width: 960px;
}
}
@media screen and (max-width: 640px) {

#contents .c357 {
	width: 100%;
	height: auto;
}
}
